* {
    background-color: #FFC4C4;
    font-family: 'Special Elite', cursive;
    }

.navbar {
    background-color: #FFC4C4;
    padding-left: 50px;
    padding-right: 100px;
}

.navbar-nav {
    background-color: #FFC4C4;
    padding: 5% 8%;
    position: sticky;
}

.heading {
    background-color: #FFC4C4;
    margin-left: 20%;
    margin-right: 10%;
    position: absolute;
    /* top: 35%; */
    text-align: center;
}

.footer {
    text-align: left;
    padding-left: 50px;
    margin-top: 65vh;
}

@media (max-width: 995) {
    .footer {
        text-align: left;
        padding-left: 50px;
        margin-top: 65vh;
        opacity: 0%;
    }
}


